.paymentInfo * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5%;
  width: 89%;
  height: 50px;
}
.section1 :nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section1 :first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.paypal,
.creditCard {
  width: 80px;
}

.creditCard {
  height: auto;
  margin-left: 2%;
}

.paymentMethod :first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.paymentMethod :nth-child(2) {
  margin-left: 2%;
}
.radioinfo {
  margin-right: 2px;
  margin-left: 20px;
}
.radio {
  margin-right: 10px;
  font-size: 6px !important;
}
@media screen and (max-width: 800px) {
  .section1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15% 0 7%;
    width: 100%;
    height: auto;
  }
  .paypal,
  .creditCard {
    width: 40px;
    height: auto;
  }
  .cc-logo.active {
    opacity: 1;
    display: block;
    position: absolute;
    width: 15%;
  }
  .section1 :nth-child(2) {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: center;
  }
  .radio {
    font-size: 12px !important ;
  }
}
